.App {
    width: 100%;
    max-width: 900px;
    height: 100vh;
    margin: 0 auto;
    background: lightgray;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.App > header {
    width: 100%;
    height: calc(2.6rem + 10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 3%;
    background: gray;
}

.App > header > ul {
    display: flex;
}

.App > header h1 a {
    font-size: 2.6rem;
    color: white;
}

.App > header > ul a {
    font-size: 1.4rem;
    color: white;
    margin-left: 20px;
}

.full-sidebar {
    width: 28%;
    height: calc(100% - 2.6rem - 10px);
    background: lightblue;
    padding: 15px 3% 5px 3%;
    display: flex;
    flex-direction: column;
}

.full-sidebar a {
    font-size: 1.4rem;
}

.char-sheet {
    width: 68%;
    margin: 10px auto;
    padding: 24px 3%;
    background: tan;
    border-radius: 8px;
    box-shadow: 2px 2px 10px brown;
}

.char-sheet h1 {
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 2px;
}

.char-sheet h2 {
    font-size: 2.4rem;
}

.hero-info-form {
    width: 70%;
    padding: 24px 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hero-info-form h1 {
    font-size: 2.4rem;
    margin-bottom: 20px;
}

.hero-info-form input {
    margin-bottom: 10px;
}

.login-page {
    width: 100%;
    height: calc(100% - 2.6rem - 10px);
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.login-page h1 {
    font-size: 2.4rem;
    margin-bottom: 20px;
}

.login-page input {
    margin-bottom: 10px;
}